{% extends "core/base.html" %}

{% block conteudo %}

<body class="bg-dark text-light">

    <div class="container mt-5">

        <h1 class="mb-4">📋 HelpDesk - Categorias</h1>

        <div class="row g-4">
            {% for categoria in categorias %}
            <div class="col-md-4">
                <div class="card shadow-sm h-100">

                    <div class="card-body">
                        <h5 class="card-title">
                            🖥️ {{ categoria.nome }}
                        </h5>
                        <p class="card-text">
                            {{ categoria.descricao }}
                        </p>
                        <a href="{% url 'fechar-categoria' categoria.id %}" class="btn btn-danger btn-sm"
                            onclick="return confirm('Tem certeza que deseja fechar a categoria?')">
                            Excluir categoria
                        </a>

                        </p>
                    </div>
                </div>
            </div>
            {% empty %}
            <p class="text-muted">Nenhuma categoria encontrada.</p>
            {% endfor %}

</body>


{% endblock %}